﻿@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "User";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Daftar User</h2>
        </div>
        <div class="col-4">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                Tambah User
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.UserName
                    </td>
                    <td>
                        @obj.Email
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Task" asp-action="Index" asp-route-id="@obj.Id" class="btn btn-primary">Detail</a>
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                            <form asp-controller="User" asp-action="Delete" asp-route-id="@obj.Id" method="post">
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
