﻿@model onboarding_task.Models.Task

<form asp-action="Edit" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Data Task</h2>
            <hr>
        </div>
        <input asp-for="userId" hidden />
        <div class="mb-3">
            <label asp-for="TaskName">Nama Task</label>
            <input asp-for="TaskName" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="startTime">Waktu Mulai</label>
            <input asp-for="startTime" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="endTime">Waktu Selesai</label>
            <input asp-for="endTime" class="form-control">
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary" style="width: 150px;">Simpan</button>
    </div>
</form>
