﻿@model IEnumerable<onboarding_task.Models.Task>
@{
    ViewData["Title"] = "Task";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Daftar Task Dari User</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Task" asp-action="Create" asp-route-id="@ViewBag.IdUser" class="btn btn-primary">
                Tambah Task
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Nama Task
                </th>
                <th>
                    Waktu Mulai
                </th>
                <th>
                    Waktu Selesai
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.TaskName
                    </td>
                    <td>
                        @obj.startTime
                    </td>
                    <td>
                        @obj.endTime
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Task" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Task" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
